* {
    padding: 0;
    margin: 0;
}
  
  header {
    background-color: #0072ff;
    color: white;
    padding-bottom: 15px;
  }
  
  h1 {
    padding: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
  }
  

   /***********************************
                Pre Game Instructions
  ***********************************/

  #preGameMenu {
    padding-top: 25px;
    padding-bottom: 235px;
    background: linear-gradient(#00c6ff, #0072ff);
    color: white;
    font-weight: bold;
    overflow: hidden;
  }

  #preGameMenuContent {
    margin-top: 50px;
  }

  #startGamePanelButton {
    cursor: pointer; 
    margin-top: 70px;
    padding: 10px 40px;
  }


  
  
  /***********************************
                SwapZone
  ***********************************/
  
  #swap-zone {
    margin: 25px auto;
    text-align: center;
  }
  
  #swap-zone input {
    width: 200px;
    height: 50px;
    font-size: 30px;
  }
  
  #swap-zone button {
    width: 100px;
    height: 36px;
    font-size: 22px;
    vertical-align: top;
  }
  
  /***********************************
                Turn Indicator
  ***********************************/
  
  #current-turn {
    width: 75%;
    margin: 15px auto;
    text-align: center;
  }
  
  /***********************************
                GameDiv
  ***********************************/
  #game-div {
    text-align: center;
  }
  
  #player1,
  #result,
  #player2 {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 2%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
  }
  
  #player1-name,
  #player2-name {
    margin-bottom: 15px;
    font-size: 28px;
  }
  
  #player1-chosen,
  #player2-chosen {
    margin-top: 25px;
    font-size: 60px;
  }
  
  li {
    margin: 12px 0;
    font-size: 24px;
    color: black;
  }
  
  .outcomes {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
  }
  
  .outcome-trackers { 
    display: inline-block;
  }
  
  #result h2 {
    margin-top: 20px;
    font-size: 30px;
  }

  #player {
    color: blue;
  }

  
  /***********************************
              Chatbox
  ***********************************/
  
  
  #chat-messages {
    margin-left: 15px;
    height: 125px;
    overflow: auto;
    background-color: #fffcf7;
    margin-top: 50px;
    border: 3px solid black;
  }
  
  /* #chat-bar {
    position: absolute;
    bottom: 10px;
  } */
  
  #chat-input {
    width: 550px;
    margin: 15px;
  }
  
  #chat-send {
    width: 40px;
  }

  button#chat-send {
    padding: 20px;
    padding-left: 30px;
    padding-right: 95px;
    margin-bottom: 20px;
  }

  button#start{
    padding: 10px 40px;
    font-size: 22px;
  }

  .player1 {
    color: #419d78;
  }
  
  .player2 {
    color: #2d3047;
  }
  
  .player0 {
    color: #000;
    background-color: #d3d3d3;
  }
